{% extends 'base.html' %}
{% block content %}

    {% if not user.is_authenticated %}
        <h1>Descubre mas sobre nosotros</h1>
        <h2>Conoce otros locales</h2>
    {% else %}
        <ul>
            <li><a href="#">Crear menu</a></li>
            <li><a>Editar menu</a></li>
            <li>Ver carta</li>
            <li><a href="{% url 'add_category' %}">Agregar categoria</a></li>
            <li><a href="#">Ver categorías</a></li>
            <li><a href="#">Ver productos</a></li>
        </ul>
    {% endif %}

{% endblock %}