<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carta Virtual - Inicio</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Bienvenido a Nuestra Carta Virtual</h1>
        <nav>
            <ul>
                <li><a href="{% url 'register' %}">Registro</a></li>
                <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
                <li><a href="productos.html">Ver Productos</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>
