{% extends 'base.html' %}
{%  load static  %}

{% block content %}
    <h2>Categorias</h2>
    <table>
        <tbody>
            {% for cat in categories %}
                <tr>
                    <td>{{ cat.id }}</td>
                    <td>
                        <div class="item-desc-1">
                            <span>{{ cat }}</span>
                        </div>
                    </td>
                    <td class="text-center">{{ cat.created_at }}</td>
                    <td class="text-center">{{ cat.updated_at }}</td>
                    <td class="text-center"><a href="{% url 'edit_category' cat.id %}" class="text-body">Editar</a> &nbsp;&nbsp; <a href="{% url 'delete_category' cat.id %}" class="text-body">Eliminar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}